*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

a:hover, a:focus {
  text-decoration: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

img {
  max-width: 100%; }

.wrapper {
  overflow: hidden; }

body {
  font-size: 30px;
  font-family: "Ubuntu", sans-serif; }

header {
  background: url("../img/bg-img.jpg");
  background-size: cover;
  padding: 95px 0; }

.header-top {
  max-width: 80%;
  margin: 0 auto 210px auto;
  font-size: 0; }

.logo-block {
  width: 25%;
  margin-right: 10%;
  text-align: center;
  display: inline-block; }

.logo {
  margin-bottom: 25px; }

.socials {
  font-size: 0;
  width: 25%;
  text-align: center; }
  .socials a {
    display: inline-block;
    margin-right: 15px; }
    .socials a a:last-child {
      margin-right: 0; }

.socials a:hover {
  opacity: 0.6; }

.linked {
  width: 55px;
  height: 55px;
  background: url("../img/social.png");
  background-position: 0 0; }

.vk {
  width: 55px;
  height: 55px;
  background: url("../img/social.png");
  background-position: -69px 0; }

.ok {
  width: 55px;
  height: 55px;
  background: url("../img/social.png");
  background-position: -139px 0; }

.youtube {
  width: 55px;
  height: 55px;
  background: url("../img/social.png");
  background-position: -209px 0; }

.inst {
  width: 55px;
  height: 55px;
  background: url("../img/social.png");
  background-position: -279px 0; }

.mark-logo {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center; }

.contacts {
  width: 35%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-top: 40px;
  color: white; }

.tel {
  font-size: 48px;
  font-weight: 500; }

.contacts span {
  font-size: 36px; }

h1 {
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 630px;
  margin: 0 auto 300px auto; }

header .booking-form {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 1px 60px 1px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center; }

.booking-form h3 {
  font-size: 36px;
  color: #fffefe;
  font-weight: 500;
  margin-bottom: 6%; }

.booking-form input {
  font-size: 30px;
  font-weight: 500;
  color: #252525;
  padding: 2% 2% 2% 2%;
  border: 2px solid #c7c7c7;
  border-radius: 5px;
  width: 21%;
  margin-right: 3%; }

.booking-form button {
  width: 21%; }

button {
  font-size: 36px;
  font-weight: 500;
  color: #fefefe;
  background-color: #a60436;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0 20px 0; }

button:hover {
  opacity: 0.5;
  cursor: pointer; }

main {
  text-align: center; }

.features {
  border-bottom: 5px solid #a60436;
  padding: 25px 1% 60px 1%; }

h2 {
  font-size: 48px;
  color: #323232;
  font-weight: bold; }

.fearure-block {
  margin-top: 50px; }

.feature-img {
  margin-bottom: 50px;
  min-height: 162px; }

.features span {
  font-size: 24px;
  font-weight: 500;
  color: #a60436; }

.prices {
  padding: 30px 40px 40px 40px;
  margin-bottom: 20px; }

.room-block {
  border: 10px solid #a60436;
  border-radius: 5px;
  text-align: center;
  padding: 35px 0 40px 0;
  margin-top: 8%; }

.room-block h4 {
  font-size: 36px;
  color: #393939;
  font-weight: bold; }

.room-block span {
  font-size: 30px;
  color: #393939;
  font-weight: bold;
  display: block;
  min-height: 84px; }

.room-img {
  margin-bottom: 35px; }

.room-describe {
  margin: 40px 0;
  min-height: 168px;
  font-weight: 500; }

.room-block button {
  font-size: 30px;
  width: 80%;
  font-weight: 500; }

main .booking-form h3 {
  color: #393939;
  margin-bottom: 30px;
  margin-top: 45px;
  font-weight: bold; }

main .booking-form input {
  width: 17%;
  margin-right: 1%; }

main .booking-form input::placeholder {
  color: #a60436; }

main .booking-form button {
  width: 18%; }

@media (max-width: 1749px) {
  .logo-block {
    width: 28%;
    margin-right: 7%; }

  .socials {
    width: 28%; }

  .socials a {
    margin-right: 5px; } }
@media (max-width: 1700px) {
  .room-block h4 {
    font-size: 26px;
    min-height: 56px; }

  .room-block span {
    font-size: 22px;
    min-height: 62px; }

  .room-describe {
    font-size: 20px;
    min-height: 130px; }

  .room-block button {
    font-size: 22px; }

  button {
    font-size: 30px; } }
@media (max-width: 1400px) {
  .contacts span {
    font-size: 28px; }

  .socials a {
    margin-right: 2px; }

  h1 {
    font-size: 50px; }

  .booking-form input {
    font-size: 22px; }

  button {
    font-size: 22px; }

  h2 {
    font-size: 36px; }

  .features span {
    font-size: 18px; } }
@media (max-width: 1000px) {
  .contacts span {
    font-size: 24px; }

  h1 {
    font-size: 40px; }

  h2 {
    font-size: 28px; }

  .booking-form h3 {
    font-size: 28px; }

  .booking-form input {
    font-size: 18px;
    padding: 2% 1% 2% 1%; }

  button {
    font-size: 18px; } }
@media (max-width: 900px) {
  .booking-form input {
    display: block;
    width: 80%;
    margin: 0 auto 2% auto; }

  .booking-form button {
    width: 80%;
    margin-top: 5%; }

  main .booking-form input {
    width: 80%;
    margin: 0 auto 2% auto; }

  main .booking-form button {
    width: 80%;
    margin-top: 5%; } }
@media (max-width: 700px) {
  .contacts span {
    font-size: 20px; }

  .socials {
    width: 100%; }

  .logo-block {
    width: 40%;
    margin-right: 20%; }

  .mark-logo {
    width: 40%; }

  .contacts {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5%; }

  .contacts span {
    font-size: 28px; }

  h1 {
    font-size: 30px;
    width: 100%; }

  h2 {
    font-size: 24px; }

  .booking-form h3 {
    font-size: 22px; }

  .booking-form input {
    font-size: 14px; }

  .booking-form button {
    font-size: 18px; } }

/*# sourceMappingURL=styles.css.map */
